<html>
    <head>
        <title>Adriana blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Adriana Blog Linked </a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Cool words
              cool words on another line</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p> Wow more words</p>
        </div>
    </body>
</html>
